body{
  display: flex;
  justify-content: center;
  font-family: 'Courgette', cursive;
  font-family: 'Dancing Script', cursive;
}

.text {
  width: 80%;
  height: 300px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background: linear-gradient(30deg, #0199ff, #fff0, #8e44ad, #3498db, #8e44ad, #fff0, #0199ff);
  color: #fff;
}
pre {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
}
.scroll-bar {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  width: 20px;
  cursor: pointer;
  box-shadow: 0 7px 20px #fff;
  border-radius: 40px;
}
.scroll-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 15px;
  right: 3px;
  transition: all 0.1s;
}
.scroll-track {
  position: absolute;
  width: 6px;
  border-radius: 3px;
  background-color: cornflowerblue;
  top: 15px;
  right: 7px;
  bottom: 15px;
  user-select: none;
}
